#########################################################################################
# ficheros que no son tenidos en cuenta a la hora de ser comprobadas sus modificaciones #
#########################################################################################

######################
# FICHEROS CONCRETOS #
######################
local.properties
default.properties
proguard.cfg
tmp/*
.classpath
custom_rules.xml
build.xml


############################
# DIRECTORIOS
##########################
/bin/res/*
**/android/assets/*
**/ant-build/*
**/ant-gen/*
**/src/plugins/*
**/src/platforms/android/cordova/*
**/src/platforms/android/cordovaLib/*
**/src/platforms/android/src/*
**/merges/*


###########
# BACKUPS #
###########
*~
*.bak


###################
# CODIGO COMPILADO #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dex
*.cache


############
# PAQUETES #
############
# Es mejor desempaquetar los ficheros y hacer commit del código original
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.ap_
*.apk

#########################
# LOGS Y BASES DE DATOS #
#########################
*.log
*.sql
*.sqlite

######################
# GENERADOS POR OS   #
######################
.DS_Store
._.DS_Store
ehthumbs.db
Icon?
Thumbs.db
