/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0  */
}

/* Landscape layout (with min-width) *
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height *
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height *
                                      /* offset horizontal: half of image width and text area width *
    }
}
*/
@font-face {
    font-family: 'Entypo';
    /*src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    */
    src: url('entypo/Entypo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html { 
    height:100%;  /* Fix banding gradient backgroung problem in Chrome */
    min-height:100%; 
}

.ui-page-theme-b {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;       /* prevent copy paste, to allow, change 'none' to 'text' */
    
    
    background-color: #30383b !important; 
    background-image: -webkit-linear-gradient(top,#30383b,#1f2024) !important;
    background-image: linear-gradient(top, #30383b, #1f2024) !important;
    background-attachment: fixed !important;
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.ui-content {
	padding: 1px;
}
