/* 
 *    This file is part of VisualDomo.

 *    VisualDomo is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.

 *    VisualDomo is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with VisualDomo.  If not, see <http://www.gnu.org/licenses/>.
 */

a {
	color: #fff;
	text-decoration: none;
}

ul,li  {
    position: relative;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.sp-logo {
    position: absolute;
    width: 84%;
    left: 8%;
    top: 30%;
    text-align: center;
}

.sp-logo.verticalTranslate {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    margin-top: -33% !important;
}

.sp-image img {
    position: relative;
    height: auto;
    max-width: 600px;
    min-width: 100px;
    width: 100%;
}

.sp-loading {
    background: url(../img/ajax-loader.gif) no-repeat center;
    position: relative;
    width: 100%;
    height: 50px;
}

.sp-info {
    position: relative;
    width: 100%;
    left: 0%;
    margin: 5% 0%;
    //font-size: 25px;
    color: #ddd;
    text-align: center;
    visibility: hidden;
    font-size: 1.4em;
}

.sp-status-icon {
    font-family: 'VisualDomo', cursive;
    font-size: 3.75em;
    line-height: 20px;
    width: 60px;
    height: 20px;
    left: 6px;
    text-align: center;
    margin-right: 6px;
}  

#tx-connected, #tx-SSID {
    font-size: 1.4em;
}

.mm-menu {
    width: 100%;
    margin-top: 10%;
    padding: 0;
    visibility: hidden;
}

.mm-menu table {
    width: 100%;
    border-collapse: separate;
    border-spacing:  20px 10px;
    color: #283f4b;
}

.mm-menu table.c2 {
    width: 100%;
    border-collapse: separate;
    border-spacing:  20px 10px;
}

.mm-menu td.row1 {
    width: 50%;
    height: 6.25em;//100px;
//    box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
//    border-radius: 10px;
    overflow: hidden;
 //   display: block;
     position: relative;
    vertical-align: center;
}

.mm-menu td.row2 {
    width: 33%;
    height: 5.625em;//90px;
    overflow: hidden;
    position: relative;
    vertical-align: center;
}

.mm-menu td div {
/*    text-align: left;*/
/*    width: 100%;*/
    height: 100%;
    position: relative;
    color: #283f00;
    display: inline;
}


.row1 .mm-icon{
    font-family: 'VisualDomo', cursive;
    font-size: 7.18em; //115px;
    text-shadow: 0px 0px 2px #333;
    line-height: 100px;
    max-height: 110px;
    position: relative;
    width: 75px;
    height: 100px;
    left: 6px;
    top: -7px;
    text-align: center;
    display: inline;
 //   border: 2px solid red;
} 

.row2 .mm-icon {
    font-family: 'VisualDomo', cursive;
    font-size: 6.5625em;//105px;
    text-shadow: 0px 0px 2px #333;
    line-height: 90px;
    position: relative;
    width: 75px;
    max-height: 6.5625em; //90px;
    left: 5px;
    top: -7px;
    text-align: center;
    display: inline;
    vertical-align: center;
//    border: 2px solid orange;
    
}

.row2 p {
    display: inline;
//    border: 2px solid orange;
}

.row2 .mm-main {
    display: inline;
 //   border: 2px solid orange;
    line-height: 35px;
}



.row1 .mm-content {
/*
    position: absolute;
    left: 10px;
*/
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
   // height: 100px;
    top: -63px;
  //  display: inline;
   // text-align: left;
 //   border: 4px solid yellow;
}

.row2 .mm-content {
    margin-left: 10px;
    margin-bottom: 10px;
    top: -21px;
}

.row1 .mm-main {
    position: absolute;
    left: 0px;
  //  top: 200px;
    font-size: 2.1875em;//35px;
    margin: 4px;
    top: 0px;
 //   border: 4px solid blue
}

.row2 .mm-main {
    font-size: 1.875em; //30px;
//    border: 2px solid orange;
     vertical-align: center;
}

p.mm-sub {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 65px;
    margin: 4px;
    font-size: 1.24em;//20px;
    color: #454;
//    border: 4px solid blue;
    overflow: hidden;
}


#mm-external {
    background-color: #e0828a;
}

#mm-newlocation {
    background-color: #cca7bc;
}

#mm-assignlocation {
    background-color: #ab6f87;
}

#mm-visualize {
    background-color: #ccdbba;
}

#mm-configure {
    background-color: #70bab3;
}

.alert {
  
    display: none;
	z-index: 9999999;

	position: absolute;
	top: 50%;
	left: 50%;
	border:0;
    width: auto;
	filter: Alpha(Opacity=70);
	opacity: .70;
	box-shadow: 0 1px 1px -1px #fff;
	height: auto;
	padding: 1em;
    background-color: black;
    -webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.alert .info, .about .info {
    display:table;
}

.alert p {
    display: table-cell; vertical-align: middle;
	font-size: 1.1em;
	padding-left: 1.15em;
    color: white;
}

.alert #alert-icon {
    display: table-cell; vertical-align: middle;
    font-size: 3.1em;
    font-family: 'VisualDomo', cursive;
    color: white;
}

.alert #animated-icon {
    display: table-cell; vertical-align: middle;
   // background: url(../img/ajax-loader.gif) no-repeat center;
    //position: relative;
    //width: 100%;
    //height: 50px;
}


.about {
  
    display: none;
	z-index: 9999988;

	position: absolute;
	top: 50%;
	left: 50%;
	border:0;
    width: auto;
    max-width: 50%;
	filter: Alpha(Opacity=85);
	opacity: .85;
	box-shadow: 0 1px 1px -1px #fff;
	height: auto;
	padding: 1em;
    background-color: black;
    -webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.about #alert-icon {
    display: table-cell; vertical-align: middle;
}

.about table {
    display: table-cell; vertical-align: middle;
	font-size: 1.1em;
	padding-left: 1.15em;
    color: white;
}

.dialog-body {
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.4em;
}

/* RESPONSIVE */

@media screen and (max-device-width: 900px) and (-webkit-max-device-pixel-ratio: 4.4) {
   .sp-logo.verticalTranslate {
        margin-top: -52% !important;
   }
    
   * { 
        font-size: 21px;
   }
    
   .row1 .mm-content {
        top: -70px;
    }
    
    .row1 .mm-main {
        position: absolute;
        left: 0px;
        margin-top: -8px;
    }   

}
