

.header-select-local {
	position: fixed;
    color: #fff;
	text-decoration: none;
    font-size: 20px;
    padding-top: 5px;
}

#local-list {
    position: absolute;
    top: 80px;
    width: 100%;
}

.info-table {
    margin-left: 10px;

}