

.header-select-local {
	position: fixed;
    color: #fff;
	text-decoration: none;
    font-size: 20px;
    padding-top: 5px;
}

#local-list {
    position: absolute;
    top: 80px;
    width: 100%;
}

.info-table {
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
}

.assign-button {
    padding-left: 5%;
    padding-right: 5%;
}

.select-local-item {

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #cca7bc solid;
        
}