/* 
 *    This file is part of VisualDomo.

 *    VisualDomo is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.

 *    VisualDomo is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with VisualDomo.  If not, see <http://www.gnu.org/licenses/>.
 */

.header-select-local {
	position: fixed;
   
    padding-left: 10px;
	text-decoration: none;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    background-color: #cca7bc;
    z-index: 100;
}

.header-select-local-conf {
    background: #ccdbba;
    color: #283f00;
}

.header-select-local-link {
    background: #995470;
    color: #ffffff;
}

.assign-button {
    background: #cca7bc;
    color: #ffffff;
    text-decoration: none;
}


#local-list {
    position: absolute;
    top: 80px;
    width: 100%;
}

.info-table {
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
}

.assign-button {
    padding-left: 5%;
    padding-right: 5%;
}

.select-local-item {

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #cca7bc solid;
        
}