/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#page-visual {
    position: fixed;
}

.contenedor {
    position: relative;
    background-color: #0FF;
    color: white;
    width: 100%;
    height: 100%;
}
#draw-area { /* coordinates from "date-role=page" */
    position: absolute;
    width: 100%;
    top: 0px;  
    background-color: #372d40;
    height:100%;
}

.main-canvas {
    position: absolute;
    background-color: #372d40;
}

#bottom-panel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

#button-open-floor-panel {
    margin-left: 50%;
    height: auto;
    line-height: 0.55em;
//background-color: red;
    background: transparent;
    font-size: 4.5em;
    font-family: 'VisualDomo';
}

#floor-panel {
    left: 0px;
    width: 100%;
    bottom: 0px;
    background-color: rgba(200,30,100,0.8);
    display: none;
    height: 250px; /* cambiar con media query */
    
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

#floor-panel:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.floor-canvas {
    width: 300px; 
    height: 82%;
    margin-left: 3%;
    margin-right: 3%;
    background: transparent;//#2AA;  
 //   border:solid black 1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.floor-canvas p {
  //  font-size: 1.3rem;
    text-align: center;
   // border:solid #fd1 1px;
    margin: 0;
    height: 20%;
    padding-top: 2px;
}

.floor-canvas img {
    width: 300px;
    height: 80%;
//    border: solid #fd1 1px;
    margin: 0;
//    border-radius: 10px;
}

.invert-colors {
    -webkit-filter: invert(100%);
}

.floor-edit-frame {
    border:solid white 3px;
    border-radius: 3px;
}

.floor-edit-toolbar {
    left: 0px;
    width: 100%;
    top: 0px;
    background-color: rgba(10,10,10,0.5);
    display: none;
    
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
    
    // border: solid #ddd 2px;
}

.floor-edit-toolbar .button p, .odc-edit-toolbar .button p {
    font-family: 'VisualDomo';
    color: #DDD;
    font-size: 45px;
    text-align: center;
    vertical-align:  middle; 
    margin: 0;
}

#add-floor {
    background: rgba(240,240,250,0.5);
    border-radius: 10px;
    border: solid white 2px;
}

#add-floor .table-layout {
    display: table;
    width: 100%;
    height: 100%;
}

#add-floor .cell-layout {
    display: table-cell;
    vertical-align: middle;
}

#add-floor .cell-layout div {
    display: table;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    border-radius: 10px;
    background: rgba(240,240,250,0.8); 
    font-size: 56px;        /* cambiar con media query */
    font-weight: bold;
}

#add-floor .cell-layout div span {
    color: #545;
    display: table-cell;
    vertical-align: middle;
    line-height: normal;      
}


#popup-conf-floor-popup {
    width: 60%;
    left: 20%;
    right: 20%;
    max-height: 90%;
    //top: 25%;
    //bottom: 0px;
    overflow: hidden;
}

#popup-conf-floor-popup h4 {
    text-align: left;
    padding: 10px;
}

.scrollable {
    overflow-y: scroll;
    //   -webkit-overflow-scrolling: touch;
    }

.ports-panel {
    position: absolute;
    height: 100%;
    width: 90%;
    margin-top: -15px;
    padding-left: 10px;
    margin-left: -8px;
}

.collapsible-port {
    height: 44px;
    width: 90%;
    margin-bottom: 3px;
    display: block;
    position: relative;
}

.port-icon {
    font-family: 'VisualDomo', cursive;
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    left: 6px;
}

.port-content {
    position: absolute;
    left: 80px;
    padding: 0;
    height: 44px;
    padding-top: 15px;
    min-width:  40%;
    //line-height: 45px;
}

.port-placed {
    font-family: 'VisualDomo', cursive;
    font-size: 44px;
    line-height: 44px;
    position: absolute;
    left: 75%;
}

.port-funct {
    font-family: 'VisualDomo', cursive;
    font-size: 44px;
    line-height: 44px;
    position: absolute;
    left: 90%;
}