<?xml version='1.0' encoding='utf-8'?>
<widget id="com.opendomo.visualdomo" version="0.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VisualDomo</name>
    <description>
        Visual control of the ODControl devices.
    </description>
    <author email="aoltra@gmail.com" href="http://uhurulabs.com">
        Alfredo Oltra 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="landscape" />
</widget>
